{% extends 'wall/base.html' %}
 {% block title %}
        <title>Ajarwall Explore</title>
{% endblock %}
{% block meta_data %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="ajarwall,ajar,Ajar">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="ajarwall,ajar,Ajar">
        <meta name="msapplication-TileImage" content="">
        <meta name="msapplication-TileColor" content="#171717">
        <meta name="theme-color" content="#171717">
        <meta name="description" content="free images from the ajarwall we update every day and post beautiful images for you">
        <meta name="description" content="free images from the ajarwall we update every day and post beautiful images for you">
        <meta name="robots" content="index, follow">
        <meta property="og:url" content="http://ajarwall.ga/e/">
        <meta property="og:title" content="Ajarwall | Explore">
        <meta property="og:description" content="Ajarwall is the collection of the best images website it has over a 500000 images ">
        <meta property="og:site_name" content="ajarwall">
        <meta property="og:type" content="website">
        <meta property="og:image:width" content="450">
        <meta property="og:image:height" content="350">
        <meta property="og:image:type" content="image/jpeg">
        <meta http-equiv="content-language" content="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% endblock %}
{% block main_content %}
                <main class="mdl-layout__content">
                        <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                        <div id="small_catlog_carousel" class="carousel" data-flickity='{
                                            "wrapAround": true,
                                            "pageDots": false,
                                            "imagesLoaded": true
                                        }'>
                    {% block small_carousel %}
                                  {% for catlog_small in catlog_small %}
                                        <div id="small_catlog_carousel_cell" class="carousel-cell">
                                            <a href="{% url 'wall:catlog_search' cat_item=catlog_small.catlog_keyword %}">
                                                <img class="carousel-cell-image" src="{{catlog_small.catlog_thumb}}" />
                                                <div class="carousel-cell-image-overlay" >
                                                    <h1>{{catlog_small.catlog_name}}</h1>
                                                </div>
                                            </a>
                                        </div>
                                   {% endfor %}
                    {% endblock %}
                                    </div>
                        </div>
                        </div>
                <div class="page-content">

                    <!-- top filters -->
                        <div class="mdl-grid anime-grid">
                        <div class="mdl-cell mdl-cell--12-col anime_master_header">
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                <!--<div class="dropdown">-->
                                  <!--<div class="select">-->
                                    <!--<span>sort </span>-->
                                    <!--<i class="material-icons">&#xe5c5;</i>-->
                                  <!--</div>-->
                                  <!--<input type="hidden" name="gender">-->
                                  <!--<ul class="dropdown-menu">-->
                                    <!--<li id="male">score <small id="high">high</small></li>-->
                                    <!--<li id="female">score <small id="low">low</small></li>-->
                                    <!--<li id="female">title <small id="low">a-z</small></li>-->
                                    <!--<li id="female">title <small id="low">a-z</small></li>-->
                                  <!--</ul>-->
                                <!--</div>-->
                              </div>
                                  <div class="anime_filter">
                                      <div class="filter">
                                          <div class="gener-menu">
                                              <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-js-ripple-effect ">
                                                  <i class="material-icons" id="filter-icon">&#xe152;</i>
                                              </button>
                                              <div class="mdl-tooltip" for="menu-lower-left">Collections</div>
                                              <ul class="item-menu mdl-menu  mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" id="menu-container" for="menu-lower-left">
                                             <!--block collections -->
                                          {% block catlog_dropdown %}
                                               {% for catlog_items in catlog_items %}
                                                <a href="{% url 'wall:catlog_search' cat_item=catlog_items.catlog_name %}"><li class="item mdl-menu__item ">{{catlog_items.catlog_name}}</li></a>
                                               {% endfor %}
                                                 <a href="{% url 'wall:catlog_page'  %}" ><li style="background:#b51b1b;color:#fff;" class="item mdl-menu__item ">more</li></a>
                                                {% endblock %}
                                                  <!--blockends-->
                                                </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                        </div>
                        <!-- filters end -->
                          <!-- small catlog carousel -->
                    <!-- end -->
                        <!-- images grid -->
                    {% block images_gid %}
                        <div class="mdl-grid">
                            {% for images_data in images_data %}
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                                        <div class="image_holder "> <!--{% url 'wall:picture_page' pic_id=images_data.id %}-->
                                                <a class="mdl-js-button mdl-js-ripple-effect" href="{% url 'wall:picture_page' pic_id=images_data.id %}"><img src="{{images_data.image_thumb}}" alt=""></a>
                                                <a href="{% url 'wall:picture_page' pic_id=images_data.id %}">
                                                    <div class="image_overlay">
                                                        <div class="image_tags" >
                                                                 <p>
                                                                    {{images_data.image_tags}}
                                                                 <a href="{{images_data.image_url}}" target="_blank">
                                                                    <button id="mini_download_fab" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                                                        <i class="material-icons">&#xe2c4;</i>
                                                                    </button>
                                                                </a>
                                                                </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                    </div>
                            {% endfor %}
                        </div>

                        <!-- navigation -->
                       <!-- navigation -->
            <div class="tab_nav">
                <!--pagination-->
                    <div>
                        <div id="page-container">
                            <span class="step-links">
                                {% if images_data.has_previous %}
                                    <a id="first-page-tooltip" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect page-buttons" href="?page=1"><i class="material-icons">first_page</i></a>
                                    <a id="prev-page-tooltip" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect page-buttons" href="?page={{ images_data.previous_page_number }}"><i class="material-icons">chevron_left</i></a>
                                {% endif %}
                                 {% if images_data.has_next %}
                                    <span class="current">
                                        Page {{ images_data.number }} of {{ images_data.paginator.num_pages }}.
                                    </span>
                                {% endif %}
                                {% if images_data.has_next %}
                                    <a id="next-page-tooltip" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect page-buttons" href="?page={{ images_data.next_page_number }}"><i class="material-icons">chevron_right</i></a>
                                    <a  id="last-page-tooltip" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect page-buttons" href="?page={{ images_data.paginator.num_pages }}"><i class="material-icons">last_page</i></a>
                                {% endif %}
                            </span>
                     </div>
                    </div>
                        <!--tooltips-->
                        <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="first-page-tooltip">First Page</div>
                        <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="prev-page-tooltip"> Previous Page</div>
                        <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="next-page-tooltip"> Next Page</div>
                        <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="last-page-tooltip"> Last Page</div>
                        <!--end-->
    </div>
<!--endpagination-->
                    {% endblock %}
                        <!-- end -->
                        <!-- end -->
                </div>
{% endblock %}